/* general styles */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: yellow;
}

.main-title {
  display: none;
}

.btn__buttonstart {
  position: absolute;
  top: 40%;
  left: 40%;
  padding: 40px;
  font-size: 50px;
  cursor: pointer;
}

.listitems {
  width: 100%;
  padding: 20px;
  gap: 50px;
  margin-top: 3%;
}

.displey-end {
  position: absolute;
  top: 40%;
  left: 30%;
  padding: 50px;
  font-size: 120px;
  border: 5px solid black;
  color: darkblue;
  background-color: red;
  box-shadow: 5px 5px 5px red;
}

.win-message {
  position: absolute;
  top: 40%;
  left: 30%;
  padding: 50px;
  font-size: 150px;
  border: 5px solid black;
  color: yellow;
  background-color: green;
  box-shadow: 5px 5px 5px green;
}

.card-container {
  position: relative;
  /* width: 200px; */
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
  transform: rotateY(odeg);
}

.card-front {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  font-size: 10rem;
  background-color: red;
  color: black;
  border: 5px solid black;
  transform: rotateY(180deg);
}

